title: Cookie Blog
subtitle: AI Art
# email: 
description: >-
  A blog discussing AI and art.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://cookieblog.net" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: jekyllrb
# github_username:  jekyll

# Build settings
theme: minimal-mistakes-jekyll
plugins:
  - jekyll-feed
  - jekyll-include-cache

minimal_mistakes_skin: "dirt" # mint, air, default

locale: "en-US" # language of pages
repository: "Cookie-Blog/cookieblog.github.io"

teaser: "/assets/images/cyberpunk-japanese.png" # teaser which will be shown in related posts tab. you can also change it for single posts.
logo: "assets/images/site-logo.png"
og_image: "/assets/images/site-logo.png" # open graph default image

words_per_minute: 180 # to estimate read time for each post

comments:
  provider: "disqus"
  disqus:
    shortname: "https://cookieblog.disqus.com/admin/"

atom_feed:
  hide: true # hide RSS and feed.xml stuff in the site

search: true
search_provider: "lunr"
lunr:
  search_within_pages: true

defaults:
  - scope:
      path: ""
      type: posts
    values: 
      show_date: true
      read_time: true
      comments: true

# Exclude from processing.
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
